Data cleaning : remove discarded houses

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
properties = pd.read_csv('data/raw/data.csv')

In [ ]:
properties.head(2)

In [ ]:

# Rows where Price is NaN, None or ''
missing_price_rows = properties['Price'].isna() | (properties['Price'] == '')

# Select only those rows
properties_missing_price = properties[missing_price_rows]

# See the missing data rows
properties_missing_price

In [ ]:
# Create a copy of the original dataframe to keep it intact
properties_clean = properties.copy()

# Convert empty strings in 'Price' to NaN 
properties_clean['Price'] = properties_clean['Price'].replace('', np.nan)

# Remove rows where 'Price' is NaN or None
properties_clean = properties_clean.dropna(subset=['Price'])

properties_clean

In [ ]:
import numpy as np
import pandas as pd

properties = pd.read_csv('data/raw/data.csv')

 

# Properties where 'Type of sale' is 'Rent' or 'Public Sale'


discarded_properties = properties['Type of sale'].isin(['Rent', 'PublicSale'])

rent_rows = properties.loc[discarded_properties]
rent_rows

# Keep only the rows that are NOT Rent or PublicSale
properties = properties[~discarded_properties]

# Verify that they were deleted
properties

THE FINAL FUNCTION TO REMOVE THE DISCARDED PROPERTIES

In [ ]:
import numpy as np
import pandas as pd

properties = pd.read_csv('data/raw/data.csv')


def remove_discarded_houses(properties):


    # REMOVE HOUSES WITH MISSING OR EMPTY PRICE

    properties['Price'] = properties['Price'].replace('', np.nan) # Convert empty strings in 'Price' to NaN 

    
    properties.dropna(subset=['Price'], inplace=True) # Remove rows where 'Price' is NaN or None



   # REMOVE HOUSES THAT ARE RENT OR PUBLIC SALE

    # Properties where 'Type of sale' is 'Rent' or 'Public Sale'
    discarded_properties = properties['Type of sale'].isin(['Rent', 'PublicSale'])

    # Keep only the rows that are NOT Rent or PublicSale
    properties = properties[~discarded_properties]


    
    return properties


properties = remove_discarded_houses(properties)
#properties
display(properties)

,Property ID,Locality name,Postal code,Price,Type of property,Subtype of property,Type of sale,Number of rooms,Living area,Equipped kitchen,Furnished,Open fire,Terrace,Garden,Number of facades,Swimming pool,State of building
0,VWD15538,Seneffe,7180,410000.00,House,Villa,Sale,4,175,1,NaN,False,True,True,4,False,Normal
1,RBU63284,Hennuy&#xE8;res,7090,750000.00,House,House,Sale,4,550,NaN,False,NaN,30 m²,1085 m²,4,NaN,Normal
4,VBD47252,La Louvi&#xE8;re,7100,175000.00,Appartment,Flat,Sale,2,76,1,False,NaN,True,False,2,False,NaN
6,RBU62400,Solre-sur-Sambre,6560,80000.00,House,House,Sale,3,235,NaN,False,NaN,30 m²,False,3,NaN,To be renovated
7,RBU62399,Mons,7000,195000.00,House,House,Sale,2,103,NaN,False,NaN,10 m²,80 m²,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8950,VBD46386,Schaarbeek,1030,300000.00,Appartment,Flat,Sale,2,81,NaN,False,NaN,3 m²,False,NaN,NaN,Normal
8951,VBD46380,Ukkel,1180,1050000.00,Appartment,Flat,Sale,4,240,1,True,NaN,20 m²,NaN,NaN,True,Excellent
8952,VBD46378,Sint-Gillis,1060,745000.00,House,House,Sale,6,235,1,True,NaN,25 m²,50 m²,2,False,Fully renovated
8955,VBD46355,Vorst,1190,540000.00,House,House,Sale,4,240,1,False,NaN,16 m²,160 m²,2,False,To be renovated
8959,VBD46355,Vorst,1190,540000.00,House,House,Sale,4,240,1,False,NaN,16 m²,160 m²,2,False,To be renovated